In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import sys
!{sys.executable} -m pip install scikit-learn-intelex

Collecting scikit-learn-intelex
  Obtaining dependency information for scikit-learn-intelex from https://files.pythonhosted.org/packages/df/cb/bd7884773d26f931acfc774d6cdd03227b75ca9d70da553215beb4be76db/scikit_learn_intelex-2023.2.1-py39-none-manylinux1_x86_64.whl.metadata
  Downloading scikit_learn_intelex-2023.2.1-py39-none-manylinux1_x86_64.whl.metadata (12 kB)
Collecting daal4py==2023.2.1 (from scikit-learn-intelex)
  Obtaining dependency information for daal4py==2023.2.1 from https://files.pythonhosted.org/packages/11/29/eaa8872a2a7ccaa00593c726624fa3427e02eeaa16ce553c4f0b230f848c/daal4py-2023.2.1-py39-none-manylinux1_x86_64.whl.metadata
  Downloading daal4py-2023.2.1-py39-none-manylinux1_x86_64.whl.metadata (7.4 kB)
Requirement already satisfied: scikit-learn>=0.22 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from scikit-learn-intelex) (1.0.2)
Collecting daal==2023.2.1 (from daal4py==2023.2.1->scikit-learn-intelex)
  Obtaining dependency information for daal==2023.2.1 from https://files.pythonhosted.org/packages/e0/51/9369c49b50a51279660c31b0ec22afcb649f082fd2753915d1306dc6d038/daal-2023.2.1-py2.py3-none-manylinux1_x86_64.whl.metadata
  Downloading daal-2023.2.1-py2.py3-none-manylinux1_x86_64.whl.metadata (1.1 kB)
Requirement already satisfied: numpy>=1.19 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from daal4py==2023.2.1->scikit-learn-intelex) (1.21.6)
Collecting tbb==2021.* (from daal==2023.2.1->daal4py==2023.2.1->scikit-learn-intelex)
  Obtaining dependency information for tbb==2021.* from https://files.pythonhosted.org/packages/79/a8/01ac205ff1f68f543aa73d69d6947218cd0973992a4b60cf0a4bfe507561/tbb-2021.10.0-py2.py3-none-manylinux1_x86_64.whl.metadata
  Downloading tbb-2021.10.0-py2.py3-none-manylinux1_x86_64.whl.metadata (1.0 kB)
Requirement already satisfied: scipy>=1.1.0 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.8.0)
Requirement already satisfied: joblib>=0.11 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.3.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (3.2.0)
Downloading scikit_learn_intelex-2023.2.1-py39-none-manylinux1_x86_64.whl (128 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.7/128.7 kB 12.6 MB/s eta 0:00:00
Downloading daal4py-2023.2.1-py39-none-manylinux1_x86_64.whl (14.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.1/14.1 MB 23.5 MB/s eta 0:00:0000:0100:01
Downloading daal-2023.2.1-py2.py3-none-manylinux1_x86_64.whl (75.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.3/75.3 MB 23.4 MB/s eta 0:00:00:00:0100:01
Downloading tbb-2021.10.0-py2.py3-none-manylinux1_x86_64.whl (4.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 98.3 MB/s eta 0:00:00:00:01
Installing collected packages: tbb, daal, daal4py, scikit-learn-intelex
Successfully installed daal-2023.2.1 daal4py-2023.2.1 scikit-learn-intelex-2023.2.1 tbb-2021.10.0

In [19]:
import sys
!{sys.executable} -m pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 67.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.18 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from statsmodels) (1.21.6)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from statsmodels) (1.8.0)
Requirement already satisfied: pandas>=1.0 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from statsmodels) (1.4.2)
Collecting patsy>=0.5.2 (from statsmodels)
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 36.8 MB/s eta 0:00:00
Requirement already satisfied: packaging>=21.3 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in /opt/saturncloud/envs/saturn/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0

In [3]:
 from sklearnex import patch_sklearn
patch_sklearn(global_patch=True)

Scikit-learn was successfully globally patched by Intel(R) Extension for Scikit-learn

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [4]:
 #import libraries
import pandas as pd
from sklearn.linear_model import LinearRegression

In [5]:
#define a function to calculate VIF
def vif(df):
  #initialize an empty dataframe to store VIF values
  vif_df = pd.DataFrame()
  #get the names of the features
  vif_df["feature"] = df.columns
  #loop through each feature and regress it against the others
  vif_df["VIF"] = [1 / (1 - LinearRegression(n_jobs=-1).fit(df.drop(feature, axis=1), df[feature]).score(df.drop(feature, axis=1), df[feature])) for feature in df.columns]
  #return the VIF dataframe
  return vif_df

In [6]:
asteroid_data = pd.read_csv('https://dagshub.com/mirsakhawathossain/Asteroid_ML/raw/cceba246d6e1755c40511f7ccbabd1ac819f0515/Data/sbdb_query_results.csv',low_memory=False).sort_index(axis=0)

In [7]:
asteroid_data.head(5)

,full_name,neo,pha,H,diameter,albedo,rot_per,e,a,q,i,om,w,ma,ad,n,per,moid_ld,class
0,1 Ceres (A801 AA),N,N,3.33,939.400,0.0900,9.074170,0.0789,2.767,2.549,10.59,80.25,73.42,60.08,2.99,0.2141,1680.0,616.0,MBA
1,2 Pallas (A802 FA),N,N,4.12,513.000,0.1550,7.813221,0.2302,2.770,2.132,34.93,172.92,310.87,40.60,3.41,0.2138,1680.0,478.0,MBA
2,3 Juno (A804 RA),N,N,5.16,246.596,0.2140,7.210000,0.2562,2.669,1.985,12.99,169.84,247.74,37.02,3.35,0.2260,1590.0,403.0,MBA
3,4 Vesta (A807 FA),N,N,3.22,525.400,0.4228,5.342128,0.0894,2.362,2.151,7.14,103.71,151.66,169.35,2.57,0.2715,1330.0,443.0,MBA
4,5 Astraea (A845 XA),N,N,7.00,106.699,0.2740,16.806000,0.1874,2.577,2.094,5.36,141.47,359.14,303.40,3.06,0.2383,1510.0,430.0,MBA

In [8]:
asteroid_data.isnull().sum()

full_name          0
neo                4
pha            11255
H               1230
diameter     1172332
albedo       1173460
rot_per      1277860
e                  0
a                  0
q                  0
i                  0
om                 0
w                  0
ma                 1
ad                 4
n                  0
per                4
moid_ld        11254
class              0
dtype: int64

In [9]:
asteroid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311963 entries, 0 to 1311962
Data columns (total 19 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   full_name  1311963 non-null  object
 1   neo        1311959 non-null  object
 2   pha        1300708 non-null  object
 3   H          1310733 non-null  float64
 4   diameter   139631 non-null   float64
 5   albedo     138503 non-null   float64
 6   rot_per    34103 non-null    float64
 7   e          1311963 non-null  float64
 8   a          1311963 non-null  float64
 9   q          1311963 non-null  float64
 10  i          1311963 non-null  float64
 11  om         1311963 non-null  float64
 12  w          1311963 non-null  float64
 13  ma         1311962 non-null  float64
 14  ad         1311959 non-null  float64
 15  n          1311963 non-null  float64
 16  per        1311959 non-null  float64
 17  moid_ld    1300709 non-null  float64
 18  class      1311963 non-null  object
dtypes: float64(15), object(4)
memory usage: 190.2+ MB

In [10]:
dataframe=asteroid_data.drop(columns=['neo','full_name'])

In [11]:
dataframe['diameter'].fillna(dataframe.groupby('class')['diameter'].transform('median'),inplace=True)
dataframe['H'].fillna(dataframe.groupby('class')['H'].transform('median'),inplace=True)
dataframe['albedo'].fillna(dataframe.groupby('class')['albedo'].transform('median'),inplace=True)
dataframe['ma'].fillna(dataframe.groupby('class')['ma'].transform('median'),inplace=True)
dataframe['ad'].fillna(dataframe.groupby('class')['ad'].transform('median'),inplace=True)
dataframe['per'].fillna(dataframe.groupby('class')['per'].transform('median'),inplace=True)
dataframe['moid_ld'].fillna(dataframe.groupby('class')['moid_ld'].transform('median'),inplace=True)
dataframe['rot_per'].fillna(dataframe.groupby('class')['rot_per'].transform('median'),inplace=True)

In [12]:
dataframe[['diameter','albedo','ad','per']]=dataframe[['diameter','albedo','ad','per']].fillna(value=dataframe[['diameter','albedo','ad','per']].median())

In [13]:
dataframe.isnull().sum()

pha         11255
H               0
diameter        0
albedo          0
rot_per         0
e               0
a               0
q               0
i               0
om              0
w               0
ma              0
ad              0
n               0
per             0
moid_ld         0
class           0
dtype: int64

In [15]:
dataframe = dataframe.drop(columns=['class','pha'])

In [16]:
dataframe.isnull().sum()

H           0
diameter    0
albedo      0
rot_per     0
e           0
a           0
q           0
i           0
om          0
w           0
ma          0
ad          0
n           0
per         0
moid_ld     0
dtype: int64

In [18]:
#calculate VIF for each feature
vif_df = vif(dataframe)

#print the VIF dataframe
print(vif_df)

     feature         VIF
0          H    2.144841
1   diameter    1.791293
2     albedo    1.281071
3    rot_per    1.007632
4          e    1.296050
5          a    1.135971
6          q  531.394980
7          i    1.154549
8         om    1.024163
9          w    1.023703
10        ma    1.001337
11        ad   21.679548
12         n    1.881244
13       per   21.120860
14   moid_ld  528.314893

# Multi Colinearity with statsmodels

In [20]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [21]:
vif = pd.DataFrame()
vif['VIF Factor'] = [variance_inflation_factor(dataframe.values,i) for i in range(dataframe.shape[1])]

In [22]:
vif['Features'] = dataframe.columns

In [23]:
 vif.round(2)

    VIF Factor  Features
0       109.93         H
1         3.42  diameter
2         3.82    albedo
3         1.16   rot_per
4         4.99         e
5         1.14         a
6       703.62         q
7         3.20         i
8         3.75        om
9         4.10         w
10        3.82        ma
11       21.91        ad
12       17.38         n
13       21.12       per
14      448.49   moid_ld